<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
</head>
<body>
    <h1>Thank you for adopting a Pet!</h1>
    <p>You ordered <%= details.quantity %> <%= details.color %> <%= details.pet_type %>.</p>
</body>
</html>